<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="application/msword" http-equiv="Content-Type">
    <title>toWord</title>
    <style type="text/css">
        .bg  {
            background-color: rgb(190, 212, 239);
        }

        table {
            table-layout: fixed;
        }

        pre {
            font-size: 12px;
        }

        tr  {
            font-size: 15px;
        }

        td {
            overflow: hidden;
            word-break: break-all;
            word-wrap: break-word;
        }

        .specialHeight {
            height: 40px;
        }



    </style>
</head>

<body>
<div style="text-align: center;"><a href="/">返回</a></div>
<div style="width:800px; margin: 0 auto">
    <div th:each="table:${tables}">
        <table border="1" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr class="bg">
                <td colspan="5" th:text="${table.tag}"></td>
            </tr>
            <tr>
                <td>接口描述</td>
                <td colspan="4">手机端日志查询</td>
            </tr>
            <tr>
                <td>URL</td>
                <td colspan="4">/mobile/idtoken/audit/search</td>
            </tr>
            <tr>
                <td>请求方式</td>
                <td colspan="4">post</td>
            </tr>
            <tr>
                <td>请求类型</td>
                <td colspan="4">application/json</td>
            </tr>
            <tr>
                <td>返回类型</td>
                <td colspan="4">*/*</td>
            </tr>

            <tr align="center" class="bg">
                <td>参数名</td>
                <td>数据类型</td>
                <td>参数类型</td>
                <td>是否必填</td>
                <td>说明</td>
            </tr>

            <tr align="center">
                <td>dto</td>
                <td>body</td>
                <td>AuditSearchDto</td>
                <td>Y</td>

                <td>dto</td>
            </tr>

            <tr align="center" class="bg">
                <td>状态码</td>
                <td>描述</td>
                <td colspan="3">说明</td>
            </tr>

            <tr align="center">
                <td>200</td>
                <td>OK</td>
                <td colspan="3">OK</td>
            </tr>

            <tr align="center">
                <td>201</td>
                <td>Created</td>
                <td colspan="3">Created</td>
            </tr>

            <tr align="center">
                <td>401</td>
                <td>Unauthorized</td>
                <td colspan="3">Unauthorized</td>
            </tr>

            <tr align="center">
                <td>403</td>
                <td>Forbidden</td>
                <td colspan="3">Forbidden</td>
            </tr>

            <tr align="center">
                <td>404</td>
                <td>Not Found</td>
                <td colspan="3">Not Found</td>
            </tr>

            <tr class="bg">
                <td colspan="5">示例</td>
            </tr>
            <tr class="specialHeight">
                <td class="bg">请求参数</td>
                <td colspan="4">
                    <pre>
{
    "accountName":"",
    "appId":"",
    "auditLogType":"",
    "endDate":"格式为(int64)",
    "entitlementId":"",
    "entitlementType":"",
    "ip":"",
    "pageNumber":"格式为(int32)",
    "pageSize":"格式为(int32)",
    "regionId":"",
    "result":"",
    "sort":"",
    "startDate":"格式为(int64)",
    "userName":""
}
                    </pre>
                </td>
            </tr>
            <tr class="specialHeight">
                <td class="bg">返回值</td>
                <td colspan="4">
                <pre>
{
    "data":{
        "logs":[
            {
                "accountName":"",
                "appId":"",
                "appName":"",
                "auditLogType":"",
                "authDeviceType":"",
                "authType":"",
                "dateFormat":"",
                "displayName":"",
                "entitlement":"",
                "entitlementType":"",
                "eventDate":"格式为(int64)",
                "id":"",
                "ip":"",
                "operationDetail":"",
                "operationSystem":"",
                "ownerDisplayName":"",
                "ownerId":"",
                "result":"",
                "sessionId":"",
                "userAgent":"",
                "userId":"",
                "userName":""
            }
        ],
        "pageNumber":"格式为(int32)",
        "pageSize":"格式为(int32)",
        "totalNumber":"格式为(int64)",
        "totalPage":"格式为(int64)"
    },
    "detail":"",
    "httpStatus":""
}
                </pre>
                </td>
            </tr>
            </tbody>
        </table>
        <br>
    </div>

</div>


</body>
</html>